@model Book

@{
    ViewData["Title"] = "Update record";
}

<a class="nav-link" asp-action="Index">View records</a>

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="mb-3 w-50 d-flex justify-content-between">
        <span class="w-50 d-flex justify-content-between">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" />
        </span>
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3 w-50 d-flex justify-content-between">
        <span class="w-50 d-flex justify-content-between">
            <label asp-for="Author">Author</label>
            <input asp-for="Author" />
        </span>
        <span class="text-danger" asp-validation-for="Author"></span>
    </div>
    <div class="mb-3 w-50 d-flex justify-content-between">
        <span class="w-50 d-flex justify-content-between">
            <label asp-for="YearOfPublish">Year of Publish</label>
            <input asp-for="YearOfPublish" />
        </span>
        <span class="text-danger" asp-validation-for="YearOfPublish"></span>
    </div>
    <div class="mb-3 w-50 d-flex justify-content-between">
        <span class="w-50 d-flex justify-content-between">
            <label asp-for="Genre">Genre</label>
            <input asp-for="Genre" />
        </span>
        <span class="text-danger" asp-validation-for="Genre"></span>
    </div>

    <div>
        <button class="btn btn-outline-primary" type="submit">Update</button>
        <button class="btn btn-danger" asp-action="Index">Cancel</button>
    </div>
</form>